{:dependencies [[io.factorhouse/hsx "0.1.23"]
                [io.factorhouse/storybook-cljs "0.2.1"]]
 :source-paths  ["src"]
 :builds        {:storybook {:target            :npm-module ; or :esm
                             :entries           [example.core]
                             :output-dir        ".storybook/cljs-out/"
                             :build-hooks       [(io.factorhouse.storybook.compiler/configure
                                                  {:compiler io.factorhouse.storybook.compiler.hsx})
                                                 (io.factorhouse.storybook.compiler/compile)]}}}
