{:dependencies [[io.factorhouse/hsx "0.1.23"]
                [io.factorhouse/storybook-cljs "0.1.34"]]
 :source-paths  ["src"]
 :builds        {:storybook {:target            :npm-module
                             :entries           [example.core]
                             :output-dir        ".storybook/cljs-out/"
                             :build-hooks       [(io.factorhouse.storybook.compiler/configure
                                                  {:compiler io.factorhouse.storybook.compiler.hsx
                                                   :npm-cmd "file:../../modules/cli"})
                                                 (io.factorhouse.storybook.compiler/compile)]}}}